<div class="container">
	<div class="searchParams">
		<!-- <label>Lodging Options</label><br>
		<select ng-model="params.lodgingOpt" value="null">
			<option value="hotel">Hotel</option>
			<option value="null">Nope!</option>
		</select><br>
		<label>Lodging Price Cap</label><br>
		<select ng-model="params.lodgingPriceCap" placeholder="Lodging Price Cap">
			<option value="200">$200</option>
			<option value="300">$300</option>
			<option value="500">$500</option>
			<option value="1000">$1000</option>
			<option value="">No cap</option>
		</select><br> -->
		<label for="lodgingPriceCap">Lodging Price Cap</label><br>
			<select material-select watch name="lodgingPriceCap" ng-model="params.lodgingPriceCap">
				<option value="200">$200</option>
				<option value="300">$300</option>
				<option value="500">$500</option>
				<option value="1000">$1000</option>
				<option value="">No cap</option>
			</select><br>

		<input ng-click="getLodging()" type="button" class="nextBtn" value="Search">
	</div>

	<div class="hotelResults">
		<div ng-repeat="obj in data.lodging" class="">
			<div ng-class="{selected: data.selected==obj}" ng-click="updateParams(obj); data.selected=obj">
				<h4>{{obj.propertyName}}</h4>
				<h4>${{obj.lodgingPrice}} Total</h4>
				<p>{{obj.street}} {{obj.city}}, {{obj.state}}</p>
				<p>{{obj.beds}}. {{obj.roomType}}</p>
				<p>Check-In: {{obj.checkIn}} Check-Out: {{obj.checkOut}}</p>
			</div>
		</div>
	</div>
	<input ng-click="selectedTripView()" type="button" class="nextBtn" value="Next">

</div>


