<div id="flightsContainer">
	<div id="flightsResults">
		<div ng-repeat="obj in data.flights" class="">
			<div ng-class="{selected: data.selected==obj}" ng-click="updateParams(obj); data.selected=obj">
				<h4>${{obj.airPrice}}</h4>
				<p>Change Penalties: {{obj.changePenalties}} Refundable: {{obj.refundable}}</p>
				<h5>Outbound Flight</h5>
				<p>{{obj.outboundOrigin}} to {{obj.outboundDestination}}</p>
				<p>Departs: {{obj.outboundDepTime}} Arrives: {{obj.outboundArrTime}}</p>
				<p>Operated by {{obj.outboundAirline}}</p>
				<p>Sold by {{obj.outboundMktAirline}}</p>
				<p>Flight Number {{obj.outboundFlightNum}}</p>
				<p>Travel class {{obj.outboundTravelClass}}</p>

				<h5>Inbound Flight</h5>
				<p>{{obj.inboundOrigin}} to {{obj.inboundDestination}}</p>
				<p>Departs: {{obj.inboundDepTime}} Arrives: {{obj.inboundArrTime}}</p>
				<p>Operated by {{obj.inboundAirline}}</p>
				<p>Sold by {{obj.inboundMktAirline}}</p>
				<p>Flight Number {{obj.inboundFlightNum}}</p>
				<p>Travel class {{obj.inboundTravelClass}}</p>

				<p></p>
			</div>
		</div>
	</div>
	<a href="#!/selectedFlightView">
		<input type="button" class="nextBtn" value="Next">
	</a>
</div>

