<div class="flexy">

	<div class="searchParams" id="searchParams">
		<input ng-model="params.depDate" type="text" placeholder="Leave YYYY-MM-DD">
		<input ng-model="params.retDate" type="text" placeholder="Return YYYY-MM-DD">
		<input ng-model="params.origin" type="text" placeholder="Origin">
		<select ng-model="params.airPrice">
			<option value="200">$200</option>
			<option value="300">$300</option>
			<option value="500">$500</option>
			<option value="1000">$1000</option>
			<option value="">No cap</option>
		</select>
		<input ng-model="params.adults" list="adults" placeholder="Adults">
			<datalist id="adults">
				<option value="1">
				<option value="2">
			</datalist>
		<select ng-model="params.lodging" placeholder="Need Lodging?">
			<option value="hotel">Hotel</option>
			<option value="hostel">Hostel</option>
			<option value="AirBnB">AirBnB</option>
			<option value="null">Nope!</option>
		</select>

		<!-- <button ng-click="searchParams()">Begin the Magic</button> -->
		<button ng-click="getDestinations()">Begin the Magic</button>

	</div>

	<div id="homeResultContainer">
		<div class="homeResultBox">
			<div ng-repeat="item in data.flights" class="destResults">
				<div ng-class="{selected: data.selected==item}" ng-click="updateParams(item.destination); data.selected=item">
				<!-- <div ng-class="{selected: data.selected==item}" ng-click="addClass($event)"> -->
				<h3>You can fly to {{item.destination}} for {{data.fullData.currency}}{{item.price}}</h3>
				<p>Departing: {{item.departure_date}} | Returning {{item.return_date}}</p>
				</div>
			</div>
		</div>
		<a href="#!/flightsView">
			<input type="button" class="nextBtn" value="Next">
		</a>
	</div>

</div>





