<div class="container">
departDate
	<div class="flexy">

		<div class="searchParams">
			<label for="departureDate">Choose a Departure Date</label>
			<input watch input-date
			    type="text"
			    name="departureDate"
			    id="departureDate"
			    ng-model="params.depDate"
			    container=""
			    format="yyyy-mm-dd"
			    months-full="{{ month }}"
			    months-short="{{ monthShort }}"
			    weekdays-full="{{ weekdaysFull }}"
			    weekdays-short="{{ weekdaysShort }}"
			    weekdays-letter="{{ weekdaysLetter }}"
			    disable="disable"
			    min="{{ minDate }}"
			    max="{{ maxDate }}"
			    today="today"
			    first-day="1"
			    clear="clear"
			    close="close"
			    select-years="15"
			    on-start="onStart()"
			    on-render="onRender()"
			    on-open="onOpen()"
			    on-close="onClose()"
			    on-set="onSet()"
			    on-stop="onStop()" />

			    <label for="retDate">Choose a Return Date</label>
				<input watch input-date
				    type="text"
				    name="retDate"
				    id="retDate"
				    ng-model="params.retDate"
				    container=""
				    format="yyyy-mm-dd"
				    months-full="{{ month }}"
				    months-short="{{ monthShort }}"
				    weekdays-full="{{ weekdaysFull }}"
				    weekdays-short="{{ weekdaysShort }}"
				    weekdays-letter="{{ weekdaysLetter }}"
				    disable="disable"
				    min="{{ minDate }}"
				    max="{{ maxDate }}"
				    today="today"
				    first-day="1"
				    clear="clear"
				    close="close"
				    select-years="15"
				    on-start="onStart()"
				    on-render="onRender()"
				    on-open="onOpen()"
				    on-close="onClose()"
				    on-set="onSet()"
				    on-stop="onStop()" />
			<!-- <input ng-model="params.depDate" type="text" placeholder="Leave YYYY-MM-DD"><br>
			<input ng-model="params.retDate" type="text" placeholder="Return YYYY-MM-DD"><br> -->
			<label for="origin">Origin</label>
			<input name="origin" ng-model="params.origin" type="text"><br>

			<label for="airPrice">Flights Price Cap</label><br>
			<select material-select watch name="airPrice" ng-model="params.airPrice">
				<option value="200">$200</option>
				<option value="300">$300</option>
				<option value="500">$500</option>
				<option value="1000">$1000</option>
				<option value="">No cap</option>
			</select><br>

			<!-- <input ng-model="params.adults" list="adults" placeholder="Adults">
				<datalist id="adults">
					<option value="1">
					<option value="2">
				</datalist><br> -->
			<label for="adults">Adults</label><br>
			<select material-select watch name="adults" ng-model="params.adults">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>

			<label for="lodging">Need Lodging?</label><br>
			<select material-select watch name="lodging" ng-model="params.lodgingOpt" value="">
				<option value="hotel">Hotel</option>
				<!-- <option value="hostel">Hostel</option>
				<option value="AirBnB">AirBnB</option> -->
				<option value="">Nope!</option>
			</select><br>

			<label for="lodgingPriceCap">Lodging Price Cap</label><br>
			<select material-select watch name="lodgingPriceCap" ng-model="params.lodgingPriceCap">
				<option value="200">$200</option>
				<option value="300">$300</option>
				<option value="500">$500</option>
				<option value="1000">$1000</option>
				<option value="">No cap</option>
			</select><br>

			<button ng-click="getDestinations()">Begin the Magic</button>
		</div>

		<div id="homeResultContainer">
			<div class="homeResultBox">
				<div ng-repeat="item in data.flights" class="destResults">
					<div ng-class="{selected: data.selected==item}" ng-click="updateParams(item.destination); data.selected=item">
					<!-- <div ng-class="{selected: data.selected==item}" ng-click="addClass($event)"> -->
					<h3>You can fly to {{item.destination}} for {{data.fullData.currency}}{{item.price}}</h3>
					<p>Departing: {{item.departure_date}} | Returning {{item.return_date}}</p>
					</div>
				</div>
			</div>
			<a href="#!/flightsView">
				<input type="button" class="nextBtn" value="Next">
			</a>
		</div>

	</div>

</div>




