
<div ng-model="params">
	<div id="selectedFlight">
		<h4>${{params.airPrice}}</h4>
		<p>Change Penalties: {{params.changePenalties}} Refundable: {{params.refundable}}</p>
		<h4>Outbound Flight</h4>
		<p>{{params.outboundOrigin}} to {{params.outboundDestination}}</p>
		<p>Departs: {{params.outboundDepTime}} Arrives: {{params.outboundArrTime}}</p>
		<p>Operated by {{params.outboundAirline}}</p>
		<p>Sold by {{params.outboundMktAirline}}</p>
		<p>Flight Number {{params.outboundFlightNum}}</p>
		<p>Travel class {{params.outboundTravelClass}}</p>

		<h4>Inbound Flight</h4>
		<p>{{params.inboundOrigin}} to {{params.inboundDestination}}</p>
		<p>Departs: {{params.inboundDepTime}} Arrives: {{params.inboundArrTime}}</p>
		<p>Operated by {{params.inboundAirline}}</p>
		<p>Sold by {{params.inboundMktAirline}}</p>
		<p>Flight Number {{params.inboundFlightNum}}</p>
		<p>Travel class {{params.inboundTravelClass}}</p>
	</div>

	<div id="selectedHotel">
		<h4>{{params.propertyName}}</h4>
		<h4>${{params.lodgingPrice}} Total</h4>
		<p>{{params.street}} {{params.city}}, {{params.state}}</p>
		<p>{{params.beds}}. {{params.roomType}}</p>
		<p>Check-In: {{params.checkIn}} Check-Out: {{params.checkOut}}</p>
	</div>

	<div>
		<input type="button" value="Book">
		<input ng-click="saveToFB(params)" type="button" value="Save">
		<input ng-click="scrap()" type="button" value="Let's Start Over">
	</div>
</div>